[submodule "cmake"]
	path = cmake
	url = https://berkus@github.com/berkus/cmake-setup.git
[submodule "travis-ci"]
	path = travis-ci
	url = https://berkus@github.com/berkus/travis-scripts.git
[submodule "3rdparty/support"]
	path = 3rdparty/support
	url = https://berkus@github.com/berkus/libsupport.git
[submodule "3rdparty/endian"]
	path = 3rdparty/endian
	url = https://berkus@github.com/berkus/endian.git
[submodule "3rdparty/krypto"]
	path = 3rdparty/krypto
	url = https://berkus@github.com/berkus/libkrypto.git
[submodule "3rdparty/routing"]
	path = 3rdparty/routing
	url = https://berkus@github.com/berkus/librouting.git
